<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>주민 목록</title>

    <style>
        table {
            width: 100%;
            height: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
녀
        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
<h1 style="text-align: center">주민 목록</h1>

<table>
    <thead>
    <tr>
        <th>주민번호</th>
        <th>이름</th>
        <th>증명서</th>
        <th>증명서 발급 목록</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="resident : ${residentDtos}">
        <td th:text="${resident.getResidentSerialNumber()}"></td>
        <td th:text="${resident.getName()}"></td>
        <td>
            <div style="text-align: left; display: inline-block;">
                <li>
                    <a th:href="@{/residents/{residentSerialNumber}/family-relationship-certificate(residentSerialNumber=${resident.getResidentSerialNumber()})}">가족관계증명서</a>
                </li>
                <li>
                    <a th:href="@{/residents/{residentSerialNumber}/resident-registration-certificate(residentSerialNumber=${resident.getResidentSerialNumber()})}">주민등록등본</a>
                </li>
                <li th:each="birthDeathReportResident : ${resident.getBirthDeathReportResidents()}"
                    th:if="${birthDeathReportResident.pk.birthDeathTypeCode.name() == '출생'}">
                    <a th:href="@{/residents/{residentSerialNumber}/birth-report(residentSerialNumber=${resident.getResidentSerialNumber()})}">출생신고서</a>
                </li>
                <li th:each="birthDeathReportResident : ${resident.getBirthDeathReportResidents()}"
                    th:if="${birthDeathReportResident.pk.birthDeathTypeCode.name() == '사망'}">
                    <a th:href="@{/residents/{residentSerialNumber}/death-report(residentSerialNumber=${resident.getResidentSerialNumber()})}">사망신고서</a>
                </li>
            </div>
        </td>
        <td>
            <a th:href="@{/residents/{residentSerialNumber}/certificate-issuance-list(residentSerialNumber=${resident.getResidentSerialNumber()})}">증명서
                발급 목록</a>
        </td>
        <td>
            <form th:action="@{/residents/{residentSerialNumber}(residentSerialNumber=${resident.getResidentSerialNumber()})}"
                  method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div th:if="${residentDtos.totalPages > 1}" style="text-align: center;">
    <ul class="pagination">
        <span th:class="${residentDtos.first ? 'disabled' : ''}" th:unless="${residentDtos.first}">
            <a th:href="@{|/residents?page=0&size=${residentDtos.size}|}">&laquo;</a>
        </span>
        <span th:class="${residentDtos.first ? 'disabled' : ''}" th:unless="${residentDtos.first}">
            <a th:href="@{|/residents?page=${residentDtos.number - 1}&size=${residentDtos.size}|}">&lsaquo;</a>
        </span>
        <span th:each="page : ${#numbers.sequence(0, residentDtos.totalPages - 1)}"
              th:class="${page == residentDtos.number ? 'active' : ''}">
            <a th:href="@{|/residents?page=${page}&size=${residentDtos.size}|}" th:text="${page + 1}"></a>
        </span>
        <span th:class="${residentDtos.last ? 'disabled' : ''}" th:unless="${residentDtos.last}">
            <a th:href="@{|/residents?page=${residentDtos.number + 1}&size=${residentDtos.size}|}">&rsaquo;</a>
        </span>
        <span th:class="${residentDtos.last ? 'disabled' : ''}" th:unless="${residentDtos.last}">
            <a th:href="@{|/residents?page=${residentDtos.totalPages - 1}&size=${residentDtos.size}|}">&raquo;</a>
        </span>
    </ul>
</div>
</body>
</html>