<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Family Relationship Certificate</title>
    <style>
        table {
            width: 100%;
            height: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
    </style>

</head>
<body>
<table border="1">
    <td colspan="5">주민등록등본<br>
        <span>
  (발급일 : <span th:text="${certificateIssue.certificateIssueDate}"></span>,
  증명서확인번호 :
  <span th:text="${#strings.substring(certificateIssue.certificateConfirmationNumber, 0, 8) + '-' + #strings.substring(certificateIssue.certificateConfirmationNumber, 8)}"></span>)
</span>

    </td>
    <tr>
        <td colspan="2">세대주 성명</td>
        <td th:text="${household.residentName}"></td>
        <td>세대구성<br>사유 및 일자</td>
        <td>
            <span th:text="${household.householdCompositionReasonCode}"></span>
            <br>
            <span th:text="${household.householdCompositionDate}"></span>
        </td>
    </tr>
    <tr>
        <td colspan="3">주소</td>
        <td colspan="2">신고일</td>
    </tr>
    <tr th:each="address : ${householdMovementAddresses}"
        th:class="${address.getLastAddressYn() == 'Y'} ? 'highlighted' : ''">
        <td th:text="${address.getLastAddressYn() == 'Y'} ? '현주소' : '전주소'"></td>
        <td colspan="2" th:text="${address.getHouseMovementAddress()}"></td>
        <td colspan="2" th:text="${address.getHouseMovementReportDate()}"></td>
    </tr>
    <tr>
        <td>세대주<br>관계</td>
        <td>성명</td>
        <td>주민등록번호</td>
        <td>신고일</td>
        <td>변동사유</td>
    </tr>
    <tr th:each="householdCompositionResident : ${householdCompositionResidents}">
        <td th:text="${householdCompositionResident.householdRelationshipCode}"></td>
        <td th:text="${householdCompositionResident.residentName}"></td>
        <td th:text="${householdCompositionResident.residentResidentRegistrationNumber}"></td>
        <td th:text="${householdCompositionResident.reportDate}"></td>
        <td th:text="${householdCompositionResident.householdCompositionChangeReasonCode}"></td>
    </tr>
</table>
</body>